.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    
  }

  body {
    background-color: black;
  }

 .text-color {
  color: white;
  text-align: center;
  text-transform: uppercase;
  
 }

 h1 {
  font-size: 3rem;
 }

 img {
  border: 5px solid white ;
  width: 100% ;
 }

 .poster {
  width:50% ;
  margin-left: 25%;
  margin-top: 80px;
  text-align: center;
 }

 #click-me {
  color: yellow;
 }